
<!--
  This template loads for the 'notifications' state (app.js)
  'notifications' is a $scope variable created in the 'NotificationsCtrl' controller (controllers.js)
  The NotificationsCtrl pulls data from the Notifications service (service.js)
  The Notifications service returns an array of notifications data
-->
<ion-view view-title="BadgerLoop Site">
  <ion-content overflow-scroll="true">
     <iframe src="https://badgerloop.com/" style="width: 100%; min-height: 100%"></iframe>
  </ion-content>
</ion-view>
