  <ion-modal-view>
    <ion-header-bar class="bar-positive">
    <!-- Back button -->
      <div class="buttons">
      <button class="button icon ion-close-round" ng-click="closeModal()"></button>
      </div>
      <h1 class="title">Message the Pod Info</h1>
    </ion-header-bar>
    <ion-content>
      <div class="padding text-center">
        <i class="icon ion-ios-information-outline" style="font-size: 128px; text-align: center;"></i>
      </div>
      <div class="padding text-center">
        <h4>Message Betty the BadgerLoop pod!</h4>  
        <p>You can ask her questions like:</p>
        <ul>
          <li>How are you?</li>
          <li>Who is Elon Musk?</li>
          <li>What is a Halbach wheel?</li>
        </ul>
      </div>
    </ion-content>
  </ion-modal-view>