
  <ion-modal-view>

    <ion-header-bar class="bar-positive">
          <!-- Back button -->
   <div class="buttons">
    <button class="button icon ion-close-round" ng-click="closeModal()"></button>
  </div>
      <h1 class="title">Message the Pod Info</h1>
    </ion-header-bar>
    <ion-content>
      <p>Message Betty the Badger Loop pod.  You can ask her questions like:</p>
      <p>How are you?</p>
      <p>Who is Elon Musk?</p>
      <p>What is a Halbach wheel?</p>
    </ion-content>
  </ion-modal-view>