<ion-view view-title="Gallery">
    <ion-content class="gallery-pane" scroll="false">
        <div class="list list-inset">
            <div class="item decktitle">Swipe Left to Skip or Right to See Render</div>
        </div>
        <div class="row">
	        <td-cards>
	            <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe($index)" class="card-{{$index}}">
	                <div class="image">
	                    <div class="no-text">NEXT</div>
	                    <img ng-src="{{card.image}}">
                        <div class="info-text">{{card.name}}</div>
	                    <div class="yes-text">VIEW</div>
	                </div>
	            </td-card>
	        </td-cards>
        </div>
    </ion-content>
</ion-view>
