<ion-view view-title="BadgerLoop">
    <ion-content overflow-scroll="true" class="home-pane">
    

        <div class="row row-center"> 
        
            <!-- <img masked-image="" src="img/terrace.png" class="img-responsive img-circle"> -->

        </div>

            <!-- <img src="img/BLwhite.png" style="{width: inherit;}"></img> -->
        <br>   
        <div class="row row-bottom">
            
            <button class="button button-full button-dark">
                 <img alt="Logo" class="special" height="50" src="img/BLwhite.png">
                    <!-- March 28th -->
                <hr>
                <div class="col">
                    <strong class="special">"Finished riveting the frame"</strong>
                    <br>
                    <small class="author">Duncan Adams</small><small class="date"><i> 11:55 am<i></small> 
                </div>
                
                
                
                    
            </button>
        </div>
       
    </ion-content>
</ion-view>