<ion-view view-title="BadgerLoop">
    <ion-content overflow-scroll="true" class="home-pane">
	    <!-- <div class="deckheader bar bar-header home-header">
            <h1 class="title tindertitle">Swipe Left to Skip or Right to See Render</h1>
        </div> -->
        <div class="list list-inset">
            <div class="item decktitle">Swipe Left to Skip or Right to See Render</div>
        </div>
        <ion-pane  ng-controller="CardsCtrl">
        <div class="row">
<!--             <div ng-if="cards.length == 0">
                <button class="button button-block" ng-click="reloadCards()">
                    reload cards
                </button>
            </div> -->

	        <!-- <td-cards>
	            <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe($index)" class="card-{{$index}}">
	                <div class="image">
	                    <div class="no-text">NEXT</div>
	                    <img ng-src="{{card.image}}">
                        <div class="info-text">{{card.name}}</div>
	                    <div class="yes-text">VIEW</div>
	                </div>
	            </td-card>
	        </td-cards> -->
            <swipe-cards>
                <swipe-card on-card-swipe="cardSwiped()" id="start-card">
                     Swipe down for a new card
                </swipe-card>
                <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
                <div ng-controller="CardCtrl">
                    <div class="title">
                        {{card.title}}
                     </div>
                    <div class="image">
                        <img ng-src="{{card.image}}">
                    </div>
                    <div class="button-bar">
                        <button class="button button-clear button-positive" ng-click="loadRender($index)">View</button>
                        <button class="button button-clear button-positive" ng-click="goAway()">Skip</button>
                    </div>
                </div>
                </swipe-card>
        </swipe-cards>
        </div>
        <!-- <div class="bar bar-subheader">
            <h2 class="tile">BadgerLoop Timeline</h2>
        </div> -->
       <!--  <div class="row">    
                <ul class="timeline">
                    <li ng-repeat="item in timeline">
                        <div class="tmicon tmicon-assertive"><i class="{{item.icon}}"></i></div>
                        <div class="tmlabel tmlabel-assertive">
                            <h4>{{item.title}}</h4>
                            <p><small><i class="icon ion-ios-clock"></i>  {{item.time}}</small></p>
                            <p>{{item.text}}</p>
                        </div>
                    </li>
                </ul>
        </div> -->
        </ion-pane>
    </ion-content>
</ion-view>
