<!--
  This template loads for the 'home' state (app.js)
  'posts' is a $scope variable come from Home controller
-->
<ion-view view-title="Home">
  <ion-content class="">

  <p>
     <button class="button button-primary button-block " ng-click="checkForUpdates()">
    Check for updates
  </button>
  <button class="button button-primary button-block ">
    New button
  </button>
  <button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
    download update
  </button>
    </p>

  </ion-content>
</ion-view>
