<!--
  This template loads for the 'home' state (app.js)
  'posts' is a $scope variable come from Home controller
-->
<ion-view view-title="News">
  <ion-content class="">

  <div class="list card" ng-repeat="post in posts | orderBy: '-id'">

    <div class="item item-avatar news-article-header">
      <img ng-src="{{post.face}}">
      <h2>{{ post.name }}</h2>
      <p>{{ post.time }}</p>
    </div>

    <div class="item item-body">
      <div ng-click="viewPost(post)">
        <img class="full-image" ng-if="post.image" ng-src="{{post.image}}">
        <p style="font-weight: bold;">{{post.title}}</p>
        <p>{{ post.content | nl2br}}</p>
      </div>
      <div class="click-for-more">(Click to read more)</div>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-share" ng-click="sharePost(post)"></i> Share
      </a>
    </div>
  </div>

  </ion-content>
</ion-view>
