#circle1 {
    width: 200px;
    height: 200px;
    background: red;
}
.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:33.33%;
    transform:translateY(-50%);
    
}

img.special {
    margin-top: 10px;
}

strong.special {
    font-size: 16px;

}
small.date {
    font-size: 11px;
}
small.author {
    font-size: 12px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
em,i {
    font-style: italic;
}

.img-circle {
    border-radius: 50%;
    
}

.row-center img {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:33.33%;
    transform:translateY(-50%);
    max-width: 50%;

}

.row-bottom {
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:60%;

}

.instagram-username h2{
    margin-top: 10px;
    text-transform: uppercase;
}
.decktitle{
    text-align: center !important;
    font-size: 14px !important;
    padding: 8px !important;
}

    
.home-header {
    background: #E6DADA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E6DADA, #274046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E6DADA, #274046);
}

.home-header .title{
  color: white;
  font-style: italic;
}

.deckheader{
    background: #000000 !important;
    margin-bottom: 20px !important;
}

.tindertitle{
    font-size: 14px !important;
}
.bar-subheader {
    top: 300px;
    background: #E6DADA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E6DADA, #274046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E6DADA, #274046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bar-subheader h2 {
    text-align: center;
    color: white;
    font-size: 22px;
    font-style: italic;
}

.home-pane {
    background-image: url("../img/terrace.png");
    background-position: center;

    // background-color: #2C3E50;
    // background: #E6DADA;
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #E6DADA, #274046);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #E6DADA, #274046);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.news-article-header {
    background-color: #BDC3C7 !important;
}

.click-for-more {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #666;
}

td-cards {
    display: block;
    padding-bottom: 330px;
    padding-top: 0px;
    vertical-align: center;
}

td-card {
    background-color: #95A5A6;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: -150px;
    width: 300px;
    height: 210px;
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

td-card .image {
    position: relative;
}

td-card img {
    max-width: 100%;
    border-radius: 6px;
}

.yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0;
}

.info-text {
    position: relative;
    bottom: 30px;
    left: 10px;
    text-align: left;
    font-size: 15px;
    color: #fff;
    font-style: italic;
    opacity: .9;
}

.no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.timeline {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #f5f5f5;
    left: 20%;
    margin-left: -42px;
}

@media screen and (max-width: 320px) {
    .timeline:before {
        left: 21%;
    }
}

.timeline > li {
    position: relative;
}

.timeline > li .tmlabel {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 5px 20%;
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    margin-right: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.timeline > li .tmlabel h4 {
    margin-top: 0;
    margin: 0px 0;
    padding: 10px 0 10px 0;
    line-height: 20%;
}

.timeline > li .tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 8px;
    top: 8px;
}

.timeline > li .tmicon {
    box-shadow: 0 0 0 2px #f5f5f5;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: top;
    font-size: 1.4em;
    line-height: 40px;
    position: absolute;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -60px;
}

@media screen and (max-width: 320px) {
    .timeline > li .tmicon {
        left: 21%;
    }
}

.timeline > li .tmicon > img:first-child {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.timeline > li .tmlabel-light {
    background: #fff;
    color: #444;
}

.timeline > li .tmlabel-light h4 {
    color: #444;
}

.timeline > li .tmlabel-light:after {
    border-right-color: #fff;
}

.timeline > li .tmlabel-stable {
    background: #f8f8f8;
    color: #444;
}

.timeline > li .tmlabel-stable h4 {
    color: #444;
}

.timeline > li .tmlabel-stable:after {
    border-right-color: #f8f8f8;
}

.timeline > li .tmlabel-positive {
    background: #387ef5;
    color: #fff;
}

.timeline > li .tmlabel-positive h4 {
    color: #fff;
}

.timeline > li .tmlabel-positive:after {
    border-right-color: #387ef5;
}

.timeline > li .tmlabel-calm {
    background: #11c1f3;
    color: #fff;
}

.timeline > li .tmlabel-calm h4 {
    color: #fff;
}

.timeline > li .tmlabel-calm:after {
    border-right-color: #11c1f3;
}

.timeline > li .tmlabel-assertive {
    background: #ef473a;
    color: #fff;
}

.timeline > li .tmlabel-assertive h4 {
    color: #fff;
}

.timeline > li .tmlabel-assertive:after {
    border-right-color: #ef473a;
}

.timeline > li .tmlabel-balanced {
    background: #33cd5f;
    color: #fff;
}

.timeline > li .tmlabel-balanced h4 {
    color: #fff;
}

.timeline > li .tmlabel-balanced:after {
    border-right-color: #33cd5f;
}

.timeline > li .tmlabel-energized {
    background: #ffc900;
    color: #fff;
}

.timeline > li .tmlabel-energized h4 {
    color: #fff;
}

.timeline > li .tmlabel-energized:after {
    border-right-color: #ffc900;
}

.timeline > li .tmlabel-royal {
    background: #886aea;
    color: #fff;
}

.timeline > li .tmlabel-royal h4 {
    color: #fff;
}

.timeline > li .tmlabel-royal:after {
    border-right-color: #886aea;
}

.timeline > li .tmlabel-dark {
    background: #444;
    color: #fff;
}

.timeline > li .tmlabel-dark h4 {
    color: #fff;
}

.timeline > li .tmlabel-dark:after {
    border-right-color: #444;
}

.timeline > li .tmicon-light {
    background: #fff;
    color: #444;
}

.timeline > li .tmicon-stable {
    background: #f8f8f8;
    color: #444;
}

.timeline > li .tmicon-positive {
    background: #387ef5;
    color: #fff;
}

.timeline > li .tmicon-calm {
    background: #11c1f3;
    color: #fff;
}

.timeline > li .tmicon-assertive {
    background: #ef473a;
    color: #fff;
}

.timeline > li .tmicon-balanced {
    background: #33cd5f;
    color: #fff;
}

.timeline > li .tmicon-energized {
    background: #ffc900;
    color: #fff;
}

.timeline > li .tmicon-royal {
    background: #886aea;
    color: #fff;
}

.timeline > li .tmicon-dark {
    background: #444;
    color: #fff;
}

.timelineimg {
    width: 100%;
}
